extends layouth

block content
	.h1.text-center Добавление нового договора
	form.addForm(method='post' action='/rest/add' autocomplete='off')
		.form-group.ots
			label(for='branch') Отдел
			input.form-control#branch(list='branches' name='branch')
			datalist#branches
				each el in deps
					option(value=el)
		.form-group.ots
			label(for='partner_id') Номер контрагента
			input.form-control#partner_id(type='text' name='partner_id')
		.form-group.ots
			label(for='date1') Дата регистрации
			input.form-control#date1(type='date' name='reg')
		.form-group.ots
			label(for='date2') Дата заключения
			input.form-control#date2(type='date' name='close')
		.form-group.ots
			label(for='partner') Контрагент
			input.form-control#partner(list='partners' name='partner')
			datalist#partners
				each el in parts
					option(value=el)
		.form-group.ots
			label(for='theme') Предмет договора
			input.form-control#theme(type='text' name='theme')
		.form-group.ots
			label(for='amount') Сумма с ндс.
			input.form-control#amount(type='text' name='amount')
		.form-group.ots
			label(for='curr') Валюта
			input.form-control#curr(list='currs' name='curr')
			datalist#currs
				option(value='UAH')
				option(value='USD')
				option(value='RUR')
				option(value='EUR')
		.form-group.ots
			label(for='date') Срок действия
			input.form-control#date(type='date' name='date')
		.form-group.ots
			label(for='key') ЕГРПОУ
			input.form-control#key(type='text' name='key')
		.form-group.ots
			label(for='exec') Отв. исполнитель
			input.form-control#exec(list='execs' name='exec')
			datalist#execs
				each el in exes
					option(value=el)
		.form-group.ots
			label(for='done') Примечание
			input.form-control#done(name='done')
		input.form-control.btn-success#addbtn(value='Добавить' type='submit')