extends layouth

block content
	a#sign(href='/signout', class='text-center new-account') Sign Out
	br
	button.temp.btn.btn-default(onclick='load()') Load
	button.temp.btn.btn-default(onclick='save()') Save
	button.temp.btn.btn-default(onclick="window.location.href='/rest/addj'") Add
	form.form-inline
		input.fltr.form-control(list='branches')
		datalist#branches
			each el in pacts
				option(value=el.branch)
		input.fltr.form-control(list='partners')
		datalist#partners
			each el in pacts
				option(value=el.partner)
		input.fltr.form-control(list='dns')
		datalist#dns
			option(value='Утвержден')
			option(value='Не утвержден')
		button.fltr.form-control(onclick='search()') Search
	#core