doctype html
html
  head
    title= 'Журнал договоров'
    meta(charset='utf-8')
    link(rel='stylesheet', href='/public/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/public/stylesheets/css/theme.bootstrap.min.css')
    link(rel='stylesheet', href='/public/stylesheets/style.css')
    script(src='/public/javascripts/jquery.min.js')
    //- script(src='/javascripts/bootstrap.min.js')
    script(src='/public/javascripts/js/jquery.tablesorter.min.js')
    script(src='/public/javascripts/js/jquery.tablesorter.widgets.min.js')
    script(src='/public/javascripts/moment/moment.js')
    script(src='/public/javascripts/reborn.js')
  body
    block content