doctype html
html
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/home.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/reborn.js')
  body
    block content