doctype html
html
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/css/theme.bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.min.js')
    //- script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/js/jquery.tablesorter.min.js')
    script(src='/javascripts/js/jquery.tablesorter.widgets.min.js')
    script(src='/javascripts/moment/moment.js')
    script(src='/javascripts/reborn.js')
  body
    block content