doctype html
html
  head
    title= 'Журнал договоров'
    meta(charset='utf-8')
    link(rel='stylesheet', href='/public/stylesheets/materialize.css')
    link(rel='stylesheet', href='/public/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='/public/stylesheets/css/theme.materialize.min.css')
    script(src='/public/javascripts/jquery.min.js')
    script(src='/public/javascripts/materialize.js')
    script(src='/public/javascripts/js/jquery.tablesorter.min.js')
    script(src='/public/javascripts/js/jquery.tablesorter.widgets.min.js')
    script(src='/public/javascripts/moment/moment.js')
    script(src='/public/javascripts/reborn.js')
  body
    block content