tr:nth-child(2n)
	{background-color: #f9f9f9!important;}

#core
	{font-size: 12px!important;
	border-right: 1px solid #ececec!important;}

.white
	{color: white;}

.sel
	{margin: 10px 5px 10px 5px;}

.exit
	{margin: 5px 5px 10px 5px;
	text-align: left!important;}

.opacy
	{opacity: .3;}

.col-md-12
	{text-align: center;}

.btn
	{padding: 6px 7px!important;}