#sign {
    margin: 1%;
    float: right;
}

.addForm {
    max-width: 250px;
    margin-left: 40%;
}

.ots {
    border: 1px solid #e7e7e7;
    padding: 10px;
    border-radius:6px;
    -webkit-border-radius:6px;
    -moz-border-radius:5px;
    -khtml-border-radius:10px;
}

.h1 {
    padding-bottom: 2%;
}

.form-inline {
    padding-bottom: 2%;
}

.alcent {
    text-align: center;
}

